.app-container {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}


@media only screen and ( max-width: 1800px) {
    .app-container {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
  }